body {
  margin: 0px;
  height: 100vh;
  background-color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

* {
  box-sizing: border-box;
}

.game-section {
  padding: 16px 0px;
  width: 1000px;
  color: rgb(117, 23, 23);
  background-color: rgb(105, 105, 105);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-title {
  margin: 0px 0px 40px 0px;
  font-size: 38px;
}

.input-container {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.input-buttons-container {
  display: flex;
  width: 500px;
  justify-content: space-around;
}

.input-button {
  padding: 8px 16px;
  width: 100px;
  height: 100px;
  font-size: 18px;
  color: rgb(117, 23, 23);
  text-align: center;
}

h2 {
  margin: 0px;
  font-size: 28px;
}

p {
  margin: 0px;
  font-size: 18px;
}