body {
  margin: 0px;
  height: 100vh;
  background-color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

* {
  box-sizing: border-box;
}

.game-section {
  padding: 16px 0px;
  width: 1000px;
  color: rgb(117, 23, 23);
  background-color: rgb(172, 172, 172);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.game-title {
  margin: 0px;
  font-size: 38px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.input-buttons-container {
  display: flex;
  width: 500px;
  justify-content: space-around;
}

.input-button,
.reset-button {
  padding: 8px 16px;
  width: 100px;
  height: 100px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(117, 23, 23);
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.results-container {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.score-title {
  margin-bottom: 8px;
}

.results-text-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-weight: bold;
}

h2 {
  margin: 0px;
  font-size: 28px;
}

label {
  margin: 0px;
  font-size: 18px;
}

.score-container {
  display: flex;
  flex-direction: column;
}

.final-winner-text {
  font-weight: bold;
}
